<h1><%= @registered_application.name %></h1>
<p><%= @registered_application.url %></p>
    <p><%= @events.count %> Events fired.</p>
  <% @events.each do |name, event| %>
    <p><b><%= name %></b> have been fired </p>
  <% end %>
<%= link_to "Back" , registered_applications_path %>
